body {
    background-color: rgb(221, 221, 221);
    margin: 0;
    box-sizing: border-box;
}

#header_border {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#worki_image {
    margin-left: 40px;
    width: 40px;
    height: 40px;
}

#img_and_buttons {
    float: right;
    display: flex;
    align-items: center;
}

.jobs_icon-button {
    margin-right: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#first_button {
    margin-right: 25px;
    border-radius: 20px;
    height: 40px;
    padding-left: 22px;
    padding-right: 22px;
    border: solid  1.2px;
    color: #1877F2;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}

#first_button:hover {
    filter: brightness(0.9);
}

#second_button {
    margin-right: 40px;
    border-radius: 20px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid #1877F2 1.2px;
    color: white;
    background-color: #1877F2;
    cursor: pointer;
    font-size: 16px;
}

#second_button:hover {
    filter: brightness(0.9);
}

#first_button:focus, #second_button:focus {
    outline: none;
}

@media screen and (max-width: 480px) {
    #second_button {
        font-size: 11px;
        margin-right: 10px;
        height: 26px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #worki_image {
        margin-left: 10px;
        width: 26px;
        height: 26px;
    } 
    #first_button {
        margin-right: 10px;
        font-size: 11px;
        height: 26px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .jobs_icon-button {
        width: 26px;
        height: 26px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    #worki_image {
        margin-left: 20px;
        width: 36px;
        height: 36px;
    }
    .jobs_icon-button {
        width: 36px;
        height: 36px;
        margin-right: 17px;
    }
    #first_button {
        height: 36px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        margin-right: 17px;
    }
    #second_button {
        margin-right: 20px;
        height: 36px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {    
    #worki_image {
        margin-left: 30px;
        width: 38px;
        height: 38px;
    }
    .jobs_icon-button {
        width: 38px;
        height: 38px;
    }
    #first_button {
        height: 38px;
        padding-left: 18px;
        padding-right: 18px;
        font-size: 16px;
    }
    #second_button {
        margin-right: 30px;
        height: 38px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 16px;
    }

}